<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p><strong>Estas buscando: {{query}}</strong></p>
    {% if articulos %}

    <p>Articulos encontrados: {{articulos|length}} articulos</p>
    <ul>
        {% for articulo in articulos %}

            <li>
                {{articulo.nombre}}&nbsp;{{articulo.descripcion}}&nbsp;{{articulo.precio}}
            </li>
        
        {% endfor %}

    {% else %}

        <p>Articulo no encontrado</p>

    {% endif %}



    </ul>
</body>
</html>